In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [4]:
# Mac adds ''-Table 1' to the csv files :-(
file = '../../ds-wln/datasets/Kennisnetwerk_procesdata_kwaliteitsdata_WLN/SVI en DS AT-Table 1.csv'

d1 = pd.read_csv(file , sep=';', decimal =',', header=0)

In [5]:
d1

,datum,D STOF AT,SVI 5,SVI 10,SVI 15,SVI 20,SVI 25,SVI 30
0,9/26/14,4400.0,91.891892,75.675676,64.864865,54.054054,48.648649,48.648649
1,9/30/14,4600.0,54.761905,52.380952,50.000000,47.619048,45.238095,42.857143
2,10/3/14,4600.0,85.653105,74.946467,64.239829,59.957173,55.674518,44.967880
3,10/7/14,4100.0,112.903226,80.645161,69.892473,61.827957,53.763441,51.075269
4,10/10/14,4200.0,114.503817,76.335878,66.157761,61.068702,55.979644,50.890585
5,10/14/14,4600.0,96.938776,79.081633,66.326531,61.224490,56.122449,51.020408
6,10/17/14,4800.0,121.428571,97.619048,85.714286,73.809524,66.666667,64.285714
7,10/21/14,5600.0,136.956522,100.000000,84.782609,80.434783,69.565217,65.217391
8,10/24/14,5600.0,126.637555,102.620087,89.519651,85.152838,76.419214,67.685590
9,10/28/14,5200.0,135.972805,115.976805,95.980804,87.982404,79.984003,73.985203
10,10/31/14,4600.0,167.042889,130.925508,108.352144,101.580135,94.808126,90.293454
11,11/3/14,4600.0,215.384615,191.208791,153.846154,138.461538,127.472527,118.681319
12,11/7/14,4600.0,219.026549,214.601770,185.840708,163.716814,150.442478,141.592920
13,11/10/14,5000.0,200.811359,190.669371,180.527383,170.385396,146.044625,137.931034
14,11/12/14,5300.0,186.090226,169.172932,161.654135,124.060150,116.541353,112.781955
15,11/18/14,4300.0,360.000000,240.000000,184.000000,160.000000,144.000000,124.000000
16,11/21/14,3800.0,397.515528,173.913043,149.068323,124.223602,115.942029,107.660455
17,11/26/14,3800.0,250.000000,181.159420,155.797101,141.304348,137.681159,126.811594
18,11/28/14,4000.0,290.909091,209.090909,133.333333,121.212121,115.151515,106.060606
19,12/1/14,6200.0,351.562500,218.750000,171.875000,148.437500,132.812500,117.187500
20,12/4/14,5400.0,363.901019,160.116448,138.282387,123.726346,109.170306,101.892285
21,12/9/14,4900.0,333.333333,140.000000,120.000000,103.333333,96.666667,90.000000
22,12/16/14,4600.0,367.112811,229.445507,152.963671,145.315488,137.667304,126.195029
23,12/19/14,4000.0,517.598344,362.318841,207.039337,170.807453,155.279503,144.927536
24,12/22/14,4700.0,495.867769,309.917355,196.280992,160.123967,144.628099,129.132231
25,12/23/14,4800.0,500.000000,450.000000,190.000000,150.000000,125.000000,125.000000
26,12/29/14,4900.0,176.724138,163.793103,125.000000,120.689655,90.517241,86.206897
27,12/31/14,4100.0,245.901639,222.482436,187.353630,163.934426,158.079625,146.370023
28,1/5/15,4700.0,336.000000,196.000000,160.000000,156.000000,140.000000,128.000000
29,1/7/15,5000.0,286.298569,163.599182,139.059305,122.699387,110.429448,102.249489
...,...,...,...,...,...,...,...,...
321,10/24/17,5100.0,72.222222,57.777778,51.111111,44.444444,42.222222,40.000000
322,10/26/17,4500.0,78.260870,60.869565,54.347826,48.913043,44.565217,43.478261
323,10/30/17,4100.0,77.272727,61.818182,54.545455,47.272727,44.545455,41.818182
324,11/3/17,4300.0,76.923077,57.692308,53.846154,42.307692,42.307692,38.461538
325,11/6/17,5300.0,63.934426,54.098361,47.540984,42.622951,39.344262,36.885246
326,11/10/17,4900.0,80.808081,64.646465,60.606061,56.565657,48.484848,40.404040
327,11/13/17,5000.0,62.962963,48.148148,44.444444,40.740741,39.814815,37.037037
328,11/16/17,5500.0,65.040650,50.587173,43.360434,40.650407,37.940379,37.940379
329,11/20/17,5100.0,73.076923,61.538462,55.769231,50.000000,48.076923,46.153846
330,11/23/17,4900.0,71.428571,57.142857,50.000000,46.428571,42.857143,41.071429
331,11/27/17,5800.0,64.285714,53.571429,50.000000,46.428571,42.857143,39.285714
332,12/1/17,6200.0,57.142857,46.428571,42.857143,39.285714,35.714286,33.928571
333,12/4/17,5900.0,55.000000,44.166667,38.333333,34.166667,33.333333,30.000000
334,12/8/17,5100.0,37.254902,30.392157,27.450980,23.529412,22.549020,21.568627
335,12/12/17,4800.0,37.500000,30.000000,27.500000,26.250000,25.000000,25.000000
336,12/14/17,4300.0,39.000000,31.000000,28.000000,26.000000,25.000000,24.000000
337,12/18/17,5400.0,35.714286,28.571429,25.000000,24.107143,24.107143,24.107143
338,12/22/17,5600.0,29.629630,25.925926,22.222222,22.222222,21.296296,21.296296
339,12/25/17,4900.0,37.190083,33.057851,24.793388,24.793388,24.793388,24.793388
340,1/2/18,4800.0,37.190083,33.057851,24.793388,24.793388,24.793388,24.793388
341,1/5/18,4500.0,37.500000,31.250000,29.166667,27.083333,25.000000,25.000000
342,1/10/18,6300.0,52.380952,47.619048,42.857143,38.095238,35.714286,35.714286
343,1/12/18,3900.0,45.360825,39.175258,32.989691,30.927835,28.865979,28.865979
344,1/15/18,4500.0,52.301255,46.025105,37.656904,33.472803,31.380753,29.288703
345,1/19/18,6300.0,48.865620,34.904014,31.413613,31.413613,27.923211,27.923211
346,1/22/18,5200.0,37.593985,33.082707,30.075188,27.067669,26.315789,24.060150
347,1/25/18,6200.0,62.222222,48.888889,43.333333,40.000000,35.555556,35.555556
348,1/30/18,5300.0,80.000000,60.000000,53.750000,50.000000,45.000000,43.750000
349,2/2/18,3800.0,77.192982,56.140351,43.859649,42.105263,38.596491,36.842105
350,2/5/18,6200.0,83.955224,63.432836,52.238806,48.507463,44.776119,41.044776

In [ ]:
pd.to_datetime('6/7/16')

In [ ]:
# Parse datetimes, reset time to midnight.
#d1 = d1.assign(date=pd.to_datetime(d1['datum'], format='%d-%m-%Y', infer_datetime_format=True).dt.normalize())
d1 = d1.assign(date=pd.to_datetime(d1['datum']))
#d1 = d1.drop('Datum', axis=1)
#d1 = d1.set_index('date')

In [ ]:
pwd

In [ ]:
ls ../../ds-wln/datasets/Kennisnetwerk_procesdata_kwaliteitsdata_WLN/slibactiviteit-Table\ 1.csv

In [16]:
d_err = d1.iloc[:200, 0]
pd.to_datetime(d_err)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-06-06 00:00:00

In [17]:
d_err = d1.iloc[200:, 0]
pd.to_datetime(d_err)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-09-19 00:00:00

In [15]:
pd.to_datetime(d_err)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1-09-19 00:00:00